<div>
  <h2>Feedback Form</h2>
  
  <form [formGroup]="feedbackForm" (ngSubmit)="onSubmit()">

    <label>
      Name:
      <input type="text" formControlName="name">
    </label>
    <br>

    <label>
      Email:
      <input type="text" formControlName="email">
    </label>
    <br>
    <br>

    <label>
      Feedback: <br>
      <input type="radio" id="great" value="Great" formControlName="feedback">
      <label for="great">Great!!!</label> <br>
      <input type="radio" id="Okay" value="Okay" formControlName="feedback">
      <label for="Okay">Okay</label> <br>
      <input type="radio" id="notgood" value="Not good" formControlName="feedback">
      <label for="notgood">Not good :/</label> <br>
    </label>
    <br>

    <label for="comments">
      Comments:<br>
    </label>
    <textarea id="comment" formControlName="comment" rows="4" cols="250" style="max-width: 95%;"></textarea>
    <br>
  <button type="submit">Submit</button>
  </form>

</div>


