/* You can add global styles to this file, and also import other style files */

app-top-bar {
  width: 100%;
  height: auto;
  background-color: rgb(76, 201, 147);
  padding-right: 30px;
  margin-right: 10px;
  display: flex;
  align-items: center;
}
app-top-bar h1 {
  color: white;
  margin: 0;
}
